@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden bg-background text-neutral;
}

a {
	@apply text-primary;
	text-decoration: none;
}

* {
	@apply box-border p-0 m-0;
}

.animate-spinner {
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
