@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden bg-background text-neutral;
}

a {
	@apply text-primary;
	text-decoration: none;
}

* {
	@apply box-border p-0 m-0;
}

.animate-spinner {
	animation: spinner 1s linear infinite;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.actionable {
	@apply opacity-100 md:hover:opacity-80 active:!opacity-60;
	@apply translate-y-0 md:hover:translate-y-[-4px] active:!translate-y-[2px];
	@apply duration-300 hover:duration-100;
	@apply cursor-pointer;
}
